* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Splendid";
}
html {
    font-size: 60%;
    overflow: auto;
}
:root {
    --bg-color: #080808;
    --second-bg-color: #101111;
    --text-color: white;
    --main-color: #FF1694;
}
body {
    background: var(--bg-color);
    color: var(--text-color);
}
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 4rem 12%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3 ease;
}
.logo:hover {
    transform: scale(1.1);
}
span {
    color: var(--main-color);
}
.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.navbar a:hover {
    border-bottom: 3px solid var(--main-color);
    color: var(--main-color);
}
section {
    min-height: 50vh;
    padding: 15rem 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.Recent-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.Recent-content h2 {
    font-size: 7rem; 
    margin-bottom: 3rem;
    color: var(--text-color);
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    gap: 3rem; 
    max-width: 90%;
    margin: 0 auto; 
}

.portfolio-row {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.portfolio-box {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    flex: 1;
    height: auto;
    max-height: 200px; 
}

.portfolio-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    border-radius: 10px;
}

.portfolio-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.portfolio-box:hover .portfolio-layer {
    opacity: 1;
}

.portfolio-layer h4 {
    font-size: 1.8rem;
    color: var(--main-color);
    margin-bottom: 1rem;
}

.portfolio-layer p {
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0.1rem;
    text-align: center;
}
